<!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-reverse">
            <a class="navbar-brand" href="#">
                 <img src="/images/new_logo_iut.png" width="70px" height="40px" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
             aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/charge"> <img src="/images/gauge.svg" width='22' height='22' class="myicon">Charge<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/"> <img src="/images/office.svg" width='22' height='22' class="myicon">Kapp</a>
                </div>
            </div>
        </nav>
