<!DOCTYPE html>
<html lang="fr">

<head>
    <% include head.ejs %>
</head>

<body>
    <% include header.ejs %>

        <div class="container-fluid">

            <!--  -->
            <% include appareils.ejs %>

            <!--  -->
            <% include footer.ejs %>
        </div>
        <!--  -->
    <% include les_scripts.ejs %>
</body>

</html>
